# Create a file called ".env" and it will automatically be used by docker compose.
TEST_BASE_URL="https://qaplayground.com/bank" # Note the lack of trailing slash!
TEST_DRIVER_URL="http://selenium:4444/wd/hub"
TEST_ADMIN_USERNAME=""
TEST_ADMIN_PASSWORD=""
